.japaneseFont {
    -unity-font-definition: url('/Assets/Fungus/Fonts/Amaranth/Amaranth-Regular.otf');
}
.left {
    position: absolute;
    left: 10px;
    top: 10px;
}
.pose {
    background-image: url("/Assets/UI/Images/logo.png");
    height: auto;
    width: 10%;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.right {
    position: absolute;
    right: 10px;
    top: 10px;
}
.righttop {
    flex-direction: row;
}
.templature {
    position: relative;
    right: 20px;
    flex-direction: row;
}
.templatureLogo {
    background-image: url("/Assets/UI/Images/1841.png");
    height: 30px;
    width: 30px;
}
.time {
    background-image: url("/Assets/UI/Images/frame.png");
    padding-left: 5px;
    padding-right: 5px:
    text-align: center;
}
.meter {
    position: relative;
    top: 30px;
    right: -10px;
}
.meterOut {
    position: relative;
    right: 50px;
    height:100px;
    width:20px;
    background-color: white;
    align-self: flex-end;
}
.meterIn {
    height: 30%;
    background-color: gray;
}
.meterLabel {
    size: 10%;
}