.japaneseFont {
    -unity-font-definition: url('/Assets/Fungus/Fonts/Amaranth/Amaranth-Regular.otf');
    font-size: 30px;
}
.left {
    position: absolute;
    left: 5%;
    top: 0px;
}
.frameBlack {
    background-color: black;
    border-radius: 0% 0% 5px 5px; 
}
.frameBlue {
    background-color: #AAC8FF;
    border-radius: 0% 0% 5px 5px; 
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    flex-direction: row;
}
.time {
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.hour {
    margin-right: 0px;
}
.minute {
    margin-left: 0px;
}
.templatureFrame {
    flex-direction: row;
    padding-right: 10px;
}
.templatureFrame Label {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: white;
}
.right {
    position: absolute;
    top: -10%;
    right: 100px;
    height: auto;
    width: 200px;
}
.meterFrame {
    background-image: url('/Assets/UI/Images/meter.png');
    height: 500px;
    width: 300px;
    position: relative;
    top: 30%;
}
.meterLabel {
    align-self: center;
    color: black;
}
.meterBackground {
    position: relative;
    top: 140px;
    left: 114px;
    background-color: #AAC8FF;
    background-image: url('/Assets/UI/Images/coolParameter.png');
    height: 300px;
    width: 70px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.meterFrontground {
    background-color: #ffffff;
    height: 0px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.popup {
    position: absolute;
    align-self: center;
    top: 20%;
    height: 600px;
    width: 700px;
}
.goOutside {
    background-image: url('/Assets/UI/Images/goOutside2.PNG');
    height: 100%;
    width: auto;
    flex-direction: row;

}
.Yes {
    background-image: url('/Assets/UI/Images/Yes.PNG');
    height: 10%;
    width: 10%;
    top: 50%;
    left: 30%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.No {
    background-image: url('/Assets/UI/Images/No.PNG');
    height: 10%;
    width: 10%;
    top: 50%;
    left: 50%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.airCon {
    background-image: url('/Assets/UI/Images/aircon.png');
    height: 380px;
    width: 200px;
    flex-direction: row;
    align-self: flex-end;
}
.airconFrame {
    flex-direction: row;
    color: gray;
    position: relative;
    top: 80px;
    left: 70px;
}
.airconTemp {
    margin-right: 30px;
}
.airconTurn {
    height: 50px;
    width: 50px;
    position: relative;
    top: 210px;
    left:10px;
    background-color: clear;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.airconUp {
    height: 50px;
    width: 50px;
    position: relative;
    top: 175px;
    left: 35px;
    background-color: clear;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.airconDown {
    height: 50px;
    width: 50px;
    position: relative;
    top: 248px;
    left: -15px;
    background-color: clear;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.useQuestion {
    background-image: url('/Assets/UI/Images/useQuestion.png');
    height: 100%;
    width: auto;
    flex-direction: row;
}
.frige {
    background-image: url('/Assets/UI/Images/frige.png');
    height: 380px;
    width: 200px;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    left: 25%;
    width: 50%;
    height: 60%; 
}
.items {
    position: relative;
    top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    flex-direction: row;

}
.item {
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.suika {
    background-image: url("/Assets/ShopTextures/nekoWaternelon.png");
    height: 20%;
    width: 20%;
}
.fish {
    background-image: url("/Assets/ShopTextures/nokoFish.png");
    height: 20%;
    width: 20%;
}
.ice {
    background-image: url("/Assets/ShopTextures/nekoIcecream.png");
    height: 20%;
    width: 20%;
}
.coffee {
    background-image: url("/Assets/ShopTextures/nekoCoffe.png");
    height: 20%;
    width: 20%;
}
.achievements {
    background-color: #828282;
    width: 250px;
    height: 50px;
    align-self: flex-end;
    position: absolute;
    bottom: 0%;
}
.achievementsFrame {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #c4c4c4;
}
.achievements Label {
    color: white;
}